@import url(../vendor/normalize.css);
@import url(../vendor/button.css);
@import url(../vendor/global.css);

@import url(../vendor/panel.css);
@import url(../vendor/content.css);

:root {
  /* --accent-color: #cad5ff; */
  --accent-color: #f3f6fd;
  --menu-color: #fbfaff;
  --title-color: #000000;
  --task-color: #23235f;

  --progress-color: #232360;

  --btn-background: #edecfe;
  --btn-color: #5051f9;
  --btn-background-active: #5051f9;
  --btn-background-default: #ffffff;
  --btn-background-hover: #6a6afb;

  --progress-bar: #5051f9;

  --gray: #94a3bd;
}

.app {
  display: flex;
}
